.artigo{
    margin: 0 auto;
    width: 95%;
}
.artigo__titulo{
    font-size: 40px;
    font-weight: bold;
}
.artigo__texto{
    color: #00000098;
}
.artigo__link{
    display: inline-block;
    background: var(--vermelho);
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    margin: 8px 0;
    padding: 1em 2em;
}
.artigo__link--hover:hover{
    background: var(--preto);
    color: #fff;
}