.tecnologia__item{
    position: relative;
    display: flex;
    margin: 1.2em 0;
    padding: 5px;
}
.tecnologia__imagem{
    padding: 8px;
    width: 50%;
}
.tecnologia__item:nth-child(1)::before{
    content:"1";
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 30px;

}
.tecnologia__item:nth-child(2)::before{
    content:"2";
    position: absolute;
    right:5%;
    bottom: 5%;
    font-size: 30px;
}
.tecnologia__item:nth-child(3)::before{
    content:"3";
    position: absolute;
    right:5%;
    bottom: 5%;
    font-size: 30px;
}